* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 580px;
  margin: 0 auto;
}

.cost-add-form {
  margin: 20px 0;
}

.cost-list {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 540px;
  margin-bottom: 10px;
}

.cost-list-bottom {
  text-align: center;
}

.cost {
  display: flex;
  justify-content: space-between;
}

.chart-line {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}